/*========== UNIVERSIAL STYLES ============*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    background-color: #edebe4;
    color: #000;
}
body {
    font-size: 16px;
    overscroll-behavior: none;
    overflow-x: hidden;
    overflow-y: scroll;
}
html, body {
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
h1, h2, h3 {
    font-family: "Kalnia", serif;
    font-weight: 200;
    text-transform: uppercase;
}
h1 {
    font-size: 8rem;
    line-height: 9rem;
}
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}
h2 {
    font-size: 3rem;
    line-height: 3rem;
    margin-right: 10px;
}
p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.5rem;
}
.bold {
    font-weight: 700;
}
.section {
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 60px; 
    padding-bottom: 120px; 
}
.title-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
@media only screen and (max-width: 768px) {
    .title-btn {
        flex-wrap: wrap;
    }
    .btn {
        margin-top: 20px;
    }
}
.btn {
    text-decoration: none;
    text-align: center;
    color: #000;
    font-family: "Kalnia", serif;
    font-weight: 500;
    font-size: 1.3rem;
    border: 1px solid #000;
    padding: 10px 30px;
    min-width: 230px;
    max-height: 3rem;
    white-space: nowrap;
}
.btn:hover:after {
    content: ' >';
}
/*========== MEDIA QUERIES ============*/
@media only screen and (max-width: 1200px) {
    .section, div.archive-txt, section#hero, header nav{
        padding-right: 10%;
        padding-left: 10%;
    }
}
@media only screen and (max-width: 600px) {
    .section, div.archive-txt, section#hero, header nav {
        padding-right: 5%;
        padding-left: 5%;
    }
}
/*========== HEADER/NAV ============*/
nav {
    height: 8vh;
    align-content: center;
    background-color: #000;
    color: #edebe4;
    padding-left: 15%;
    padding-right: 15%;
}
.logo {
    font-family: "Kalnia", serif;
    font-size: 2.2rem;
    font-weight: 700;
}
.nav-bar a, .foot-nav a {
    color: #edebe4;
    font-family: "Kalnia", serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-bar a:hover, .foot-nav a:hover {
    color: #039471;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    padding: 12px 20px;
}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}

.open-menu, .close-menu {
    position: absolute;
    color: #edebe4;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media (max-width: 610px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #000;
        transition: all .2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu, .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}
/*========== HERO ============*/
#hero {
    height: 92vh;
    color: #edebe4;
    padding-right: 15%;
    padding-left: 15%;
    background-image: url(./images/Self-Portrait-edited.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
}
#hero img {
    height: 92vh;
    width: auto;
    position: absolute;
    top: 8vh;
    right: 0;
}
#hero p {
    font-size: 1.5rem;
    margin-top: 20px;
    max-width: 800px;
}
/*========== ARCHIVE ============*/
.archive-txt {
    padding-right: 15%;
    padding-left: 15%;
}
.archive-imgs {
    padding-bottom: 100px;
    overflow: hidden;
}
.archvie-imgs-top, .archvie-imgs-btm {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /*animation: 13s slide infinite linear;*/
}
.archive-imgs img {
    width: 400px;
}
@media only screen and (max-width: 1024px) {
    .archive-imgs img {
        width: 300px;
    }
}
@media only screen and (max-width: 768px) {
    .archive-imgs img {
        width: 200px;
    }
}
.container {
    overscroll-behavior: none;
    width: 200%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}
.top-panel {
    width: 100%;
    height: 50vh;
    position: relative;
}
.btm-panel {
    width: 100%;
    height: 50vh;
    position: relative;
}
.one {
    background-image: url(./images/Madame\ Roulin\ Rocking\ the\ Cradle.jpg);
    background-size: cover;
}
.two {
    background-image: url(./images/The\ Bedroom.jpg);
    background-size: cover;
}
.three {
    background-image: url(./images/Irises.jpg);
    background-size: cover;
}
.four {
    background-image: url(./images/Sunflowers.jpg);
    background-size: cover;
}
.five {
    background-image: url(./images/The\ Drinkers.jpg);
    background-size: cover;
}
.six {
    background-image: url(./images/Grapes\,\ Lemons\,\ Pears\,\ and\ Apples.jpg);
    background-size: cover;
}
.seven {
    background-image: url(./images/Shoes.jpg);
    background-size: cover;
}
.eight {
    background-image: url(./images/Oleanders.jpg);
    background-size: cover;
}
/*@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
/*========== PRINTS ============*/
.prints {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}
@media only screen and (max-width: 868px) {
    .prints {
        grid-template-columns: repeat(2, 1fr);
    }
    .p3 {
        display: none;
    }
}
@media only screen and (max-width: 650px) {
    .prints {
        grid-template-columns: repeat(1, 1fr);
    }
    .p2 {
        display: none;
    }
}
.print img {
    border: 1px solid #000;
    padding: 10px;
    width: 100%;
    height: auto;
}
.print-info {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.print-title {
    margin-right: 10px;
}
/*========== EVENTS ============*/
.events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}
.event1 {
    border: 1px solid #000;
    padding: 10px;
}
.event2 {
    width: 100%;
}
.event1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media only screen and (max-width: 768px) {
    .event1 {
        display: none;
    }
    .events {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (max-width: 1365px) {
    .flex-box {
        flex-direction: column;
    }
    .flex-box a {
        margin-top: 20px;
    }
}
.event-list {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 30px;
}
.title-block {
    margin-bottom: 30px;
}
.event-loc {
    font-family: "Kalnia", serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 20px;
}
.event-date {
    
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.map {
    border: 1px solid #000;
    padding: 10px;
    height: 200px;
    margin-bottom: 20px;
    background-image: url(./images/brooklyn.jpg);
    background-size: cover;
    background-position: center;
}
.centered-txt {
    text-align: right;
}
.flex-box {
    display: flex;
    justify-content: space-between;
}
@media only screen and (min-width: 1366px) {
    .flex-box {
        align-items: end;
    }
}
/*========== FOOTER ============*/
footer {
    background-color: #000;
    color: #edebe4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 575px) {
    footer {
        flex-wrap: wrap;
    }
    .foot-2 {
        margin-top: 40px;
    }
}
@media only screen and (min-width: 576px) {
    .foot-nav li {
        text-align: right;
    }
}
.foot-1 {
    max-width: 600px;
    margin-right: 40px;
}
.foot-logo {
    font-family: "Kalnia", serif;
    font-size: 4rem;
    font-weight: 700;
}
.foot-nav li {
    list-style-type: none;
    line-height: 2.8rem;
    font-weight: 500;
}